# Dyanamic Multiboot USB

# vars
set drive_label=multiboot
export drive_label

set binpath="/boot/bin"
set isopath="/boot/iso"
set krnlpath="/boot/krnl"
export binpath isopath krnlpath

set theme_name=xion
export theme_name

# visual
insmod font
if loadfont unicode ; then
    if keystatus --shift ; then true ; else
        if [ "${grub_platform}" == "efi" ]; then
            insmod efi_gop
            insmod efi_uga
        else
            insmod vbe
            insmod vga
        fi
        insmod gfxterm
        set gfxmode=1024x768
        set gfxpayload=auto
        terminal_output gfxterm
        if terminal_output gfxterm ; then true ; else
            terminal gfxterm
        fi
        insmod gfxmenu
        loadfont ${prefix}/themes/${theme_name}/Sans-10.pf2
        loadfont ${prefix}/themes/${theme_name}/Sans-12.pf2
        loadfont ${prefix}/themes/${theme_name}/Sans-14.pf2
        insmod png

        set theme=${prefix}/themes/${theme_name}/theme.txt
        export theme
    fi
fi

# timeout for menu
set timeout=30
# default boot entry
set default=0

# menu colours
# set color_normal=white/black
# set color_highlight=white/green
# export color_normal
# export color_highlight

# partition holding files
insmod search_fs_uuid
search --file --no-floppy --set=root /boot/grub/multiboot.6U4YzT
probe -u $root --set=rootuuid
set imgdevpath="/dev/disk/by-uuid/$rootuuid"
export root imgdevpath

# boot from disk by default
menuentry "Boot from first HD" --class gnu-linux {
    insmod chain
    search --no-floppy --fs-uuid --set=root 0B3C-606C
    chainloader ($root)/EFI/Boot/BOOTX64.EFI
}

# for globbing
insmod regexp

# live ISOs
submenu "Live ISOs ->" --class gnu-linux {
    for configfile in /boot/grub/grub.d/*-live.cfg; do
        source $configfile
    done
}

# installer ISOs
submenu "Installer ISOs ->" --class gnu-linux {
    for configfile in /boot/grub/grub.d/*-install.cfg; do
        source $configfile
    done
}

# ipxe installers
submenu "iPXE installers ->" --class gnu-linux {
    for configfile in /boot/grub/grub.d/*-ipxe.cfg; do
        source $configfile
    done
}

submenu "Other ->" --class arrow {
    # memtest86+ (http://www.memtest.org/)
    menuentry "Test memory with Memtest86+" --class arrow {
        linux16 $binpath/memtest86+-5.01.bin
    }
}

# grub options
submenu "GRUB2 options ->" --class arrow {
    menuentry "List devices/partitions" --class arrow {
        ls -l
        sleep --interruptible 9999
    }

    menuentry "Enable GRUB2's LVM support" --class arrow {
        insmod lvm
    }

    menuentry "Enable GRUB2's RAID support" --class arrow {
        insmod dm_nv
        insmod mdraid09_be
        insmod mdraid09
        insmod mdraid1x
        insmod raid5rec
        insmod raid6rec
    }

    menuentry "Enable GRUB2's PATA support (to work around BIOS bugs/limitations)" --class arrow {
        insmod ata
        update_paths
    }

    menuentry "Enable GRUB2's USB support *experimental*" --class arrow {
        insmod ohci
        insmod uhci
        insmod usbms
        update_paths
    }

    menuentry "Mount encrypted volumes (LUKS and geli)" --class arrow {
        insmod luks
        insmod geli
        cryptomount -a
    }

    menuentry "Enable serial terminal" --class arrow {
        serial
        terminal_input --append serial
        terminal_output --append serial
    }
}

# reboot
menuentry "Reboot" --class reboot {
    reboot
}

# poweroff
menuentry "Poweroff" --class shutdown {
    halt
}
